<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title>Lista de Socios</title>
</head>
<body>
    <nav style="background-color: #ffc107; width: 100%; padding: 15px 0; border-bottom: 3px solid #000; display: flex; justify-content: space-around; align-items: center; margin: 0;">
    <div style="color: #000; font-weight: bold; font-size: 1.2rem;">Panel del Sistema del Gimnasio</div>
    <div style="display: flex; gap: 20px;">
        <a href="/" style="color: #000; text-decoration: none; font-weight: bold;">Inicio</a>
        <a href="/socios" style="color: #000; text-decoration: none; font-weight: bold;">Socios</a>
        <a href="/membresias" style="color: #000; text-decoration: none; font-weight: bold;">Membresías</a>
        <span style="color: #000; font-weight: bold; opacity: 0.7;">Cerrar sesión</span>
    </div>
</nav>
    <div class="container">
        <h2>👥 Listado de Socios (Desde ORM)</h2>
        <a href="/" class="btn-dark" style="padding: 10px; text-decoration: none; border-radius: 5px;">Ir al Inicio</a>
        <br><br>
    <div style="background: #1c1c1c; padding: 20px; border-radius: 15px; border: 1px solid #ffc107; margin-bottom: 30px;">
        <h3 style="color: #ffc107; margin-top: 0;">+ Registrar Nuevo Socio</h3>
        <form action="/agregar_socio" method="POST">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="email" name="correo" placeholder="Email" required>
            <input type="text" name="telefono" placeholder="Teléfono">
            <input type="number" name="edad" placeholder="Edad" style="width: 80px;">
            <button type="submit" style="background: #ffc107; color: black; font-weight: bold; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;">Guardar</button>
        </form>
    </div>
        <table class="table" width="100%">
 <thead>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Edad</th>
        <th>Inscripción</th>
    </tr>
</thead>            
<tbody>
    {% for s in socios %}
    <tr>
        <td>{{ s.idSocio }}</td>
        <td>{{ s.nombre }}</td>
        <td>{{ s.correo }}</td>
        <td>{{ s.telefono }}</td>
        <td>{{ s.edad }}</td>
        <td>{{ s.fecha_inscripcion }}</td>
    </tr>
    {% endfor %}
</tbody>
            <tbody>
                {% for socio in socios %}
                <tr>
                    <td>{{ socio.idSocio }}</td>
                    <td>{{ socio.nombre }}</td>
                    <td>{{ socio.correo }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
